In [3]:
import pandas as pd

# habitantes por colonia en sonora de los datos de luis moreno
url = "https://raw.githubusercontent.com/Sonora-en-Datos/ColoniasSonora/main/resultados/sonora_colonias_2020.csv"

df = pd.read_csv(url)

df.head()

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
0,Aconchi,260010001641,NORTE,182,428,48.7%,51.3%,40.2%,47.7%,12.1%,8.3,Primaria
1,Aconchi,260010001644,CENTRO,565,1210,47.7%,52.3%,31.6%,52.1%,16.4%,9.0,Secundaria
2,Agua Prieta,2600200011186,MANUEL J CLOURTIER,97,266,54.1%,45.9%,33.1%,62.8%,4.1%,8.9,Primaria
3,Agua Prieta,2600200011890,COL ACAPULCO,164,378,53.4%,46.6%,23.8%,63.8%,12.4%,10.8,Secundaria
4,Agua Prieta,2600200011893,INFONAVIT,48,118,55.1%,44.9%,18.6%,57.6%,23.7%,10.4,Secundaria

In [4]:
# solo las colonias de hermosillo 
df_col = df[df['nom_loc'] == 'Hermosillo']
df_col.head()

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
882,Hermosillo,2603000010,OASIS LANTANA,211,650,50.7%,49.3%,39.2%,60.3%,0.5%,11.4,Secundaria
883,Hermosillo,2603000011343,ROMANZA RESIDENCIAL,502,1543,48.5%,51.5%,39.5%,58.4%,2.1%,11.2,Secundaria
884,Hermosillo,2603000011346,PUEBLO ALEGRE,443,1385,50.2%,49.8%,34.1%,62.5%,3.5%,11.5,Secundaria
885,Hermosillo,2603000011347,TUBAC,212,651,51.5%,48.5%,32.6%,63.3%,4.1%,12.2,Secundaria
886,Hermosillo,2603000011348,PUEBLO ESCONDIDO,646,2154,50.6%,49.4%,36.6%,60.6%,2.8%,10.4,Secundaria

In [8]:
# ordenar por columna de poblacion
df_col_sorted = df_col.sort_values(by='poblacion_total', ascending=False)
df_col_sorted.head(10)

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
1097,Hermosillo,2603000011589,ALTARES,6551,20398,50.4%,49.6%,33.1%,61.9%,4.9%,11.0,Secundaria
1333,Hermosillo,2603000012176,PUERTA REAL,7175,19748,49.8%,50.2%,35.9%,61.3%,2.9%,13.0,Preparatoria
911,Hermosillo,2603000011374,SOLIDARIDAD,4745,16283,49.6%,50.4%,30.1%,62.6%,7.2%,9.8,Secundaria
1157,Hermosillo,2603000011663,NUEVO HERMOSILLO,4102,12629,50.9%,49.1%,29.4%,62.4%,8.2%,10.7,Secundaria
1292,Hermosillo,2603000011905,VILLAS DEL REAL,3916,12055,50.9%,49.1%,32.3%,63.2%,4.5%,10.9,Secundaria
1250,Hermosillo,2603000011815,PALO VERDE,3845,11370,50.2%,49.8%,23.1%,57.2%,19.7%,9.9,Secundaria
1216,Hermosillo,2603000011766,SAHUARO,3560,11002,50.4%,49.6%,24.9%,60.4%,14.7%,10.5,Secundaria
960,Hermosillo,2603000011429,OLIVARES,3863,10008,50.8%,49.2%,16.5%,57.6%,25.9%,11.3,Secundaria
1245,Hermosillo,2603000011806,RESIDENCIAL VILLA BONITA,3635,9937,51.1%,48.9%,32%,63.7%,4.3%,14.4,Preparatoria
1061,Hermosillo,2603000011546,LEY 57,3618,9761,50.9%,49.1%,18.9%,58.8%,22.3%,11.3,Secundaria

In [ ]:
df_col_sorted.info()
# guardarlo localmente
df_col_sorted.to_csv('hermosillo_colonias_poblacion.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 660 entries, 1536 to 1097
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nom_loc                 660 non-null    object
 1   cve_col                 660 non-null    int64
 2   nom_col                 660 non-null    object
 3   viviendas_totales       660 non-null    int64
 4   poblacion_total         660 non-null    int64
 5   pctj_mujeres            643 non-null    object
 6   pctj_hombres            643 non-null    object
 7   pctj_menores18          643 non-null    object
 8   pctj_adultos18_59       643 non-null    object
 9   pctj_60ymas             643 non-null    object
 10  escolaridad_años_prom   643 non-null    float64
 11  nivel_escolaridad_prom  643 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 67.0+ KB

In [ ]:
#comntar 
colonias = df_col_sorted['nom_col'].tolist()

In [ ]:
# contamos las colonias 
len(colonias)

660

In [12]:
# revisar si hay repetidas 
data = pd.DataFrame(colonias, columns=['colonia'])
data['count'] = 1   
data = data.groupby('colonia').count().reset_index()
data = data[data['count'] > 1]
data

Empty DataFrame
Columns: [colonia, count]
Index: []

In [13]:
# solo las colonias de agua prieta 
agua_prieta = df[df['nom_loc'] == 'Agua Prieta']
agua_prieta.head()

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
2,Agua Prieta,2600200011186,MANUEL J CLOURTIER,97,266,54.1%,45.9%,33.1%,62.8%,4.1%,8.9,Primaria
3,Agua Prieta,2600200011890,COL ACAPULCO,164,378,53.4%,46.6%,23.8%,63.8%,12.4%,10.8,Secundaria
4,Agua Prieta,2600200011893,INFONAVIT,48,118,55.1%,44.9%,18.6%,57.6%,23.7%,10.4,Secundaria
5,Agua Prieta,2600200011894,INFONAVIT 1,1389,2689,52.5%,47.5%,24.1%,56.8%,19.1%,10.6,Secundaria
6,Agua Prieta,2600200011944,CORONADO,208,498,51.2%,48.8%,37.3%,60%,2.6%,11.7,Secundaria

In [14]:
# por poblacion
agua_prieta_sorted = agua_prieta.sort_values(by='poblacion_total', ascending=False)
agua_prieta_sorted.head(10)

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
21,Agua Prieta,260020001251,PUEBLO NUEVO,3895,11664,49.6%,50.4%,37.7%,58.4%,3.9%,9.5,Secundaria
11,Agua Prieta,2600200012139,LADRILLERA ll,1595,5248,49.5%,50.5%,41.3%,54.3%,4.4%,8.3,Primaria
33,Agua Prieta,260020001549,LUIS DONALDO COLOSIO,1776,4981,51.1%,48.9%,33%,58.8%,8.2%,10.0,Secundaria
25,Agua Prieta,260020001355,VALLES DUARTE,1463,4376,49.4%,50.6%,39%,58.3%,2.7%,9.8,Secundaria
17,Agua Prieta,2600200012285,NUEVO PROGRESO,1390,4184,51%,49%,36.3%,59.3%,4.3%,9.3,Secundaria
39,Agua Prieta,260020001557,MAGISTERIAL,1554,4089,50.9%,49.1%,31.8%,60.8%,7.5%,10.3,Secundaria
36,Agua Prieta,260020001554,BUENOS AIRES,1290,3784,49.4%,50.6%,44.5%,52.6%,2.9%,9.4,Secundaria
30,Agua Prieta,260020001546,INFONAVIT ALAMITO,1253,3701,51.3%,48.7%,33.7%,58.6%,7.7%,9.8,Secundaria
41,Agua Prieta,260020001560,EJIDAL,1319,3573,47.8%,52.2%,31%,56.4%,12.6%,8.5,Primaria
47,Agua Prieta,260020001566,CENTRO,1322,2962,49.7%,50.3%,28.3%,55.7%,16%,10.0,Secundaria

In [15]:
agua_prieta_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 21 to 64
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nom_loc                 63 non-null     object
 1   cve_col                 63 non-null     int64
 2   nom_col                 63 non-null     object
 3   viviendas_totales       63 non-null     int64
 4   poblacion_total         63 non-null     int64
 5   pctj_mujeres            62 non-null     object
 6   pctj_hombres            62 non-null     object
 7   pctj_menores18          62 non-null     object
 8   pctj_adultos18_59       62 non-null     object
 9   pctj_60ymas             62 non-null     object
 10  escolaridad_años_prom   62 non-null     float64
 11  nivel_escolaridad_prom  62 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 6.4+ KB