In [1]:
import pandas as pd
# habitantes por colonia en sonora de los datos de luis moreno
url = "https://raw.githubusercontent.com/Sonora-en-Datos/ColoniasSonora/main/resultados/sonora_colonias_2020.csv"
df = pd.read_csv(url)
df.head()

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
0,Aconchi,260010001641,NORTE,182,428,48.7%,51.3%,40.2%,47.7%,12.1%,8.3,Primaria
1,Aconchi,260010001644,CENTRO,565,1210,47.7%,52.3%,31.6%,52.1%,16.4%,9.0,Secundaria
2,Agua Prieta,2600200011186,MANUEL J CLOURTIER,97,266,54.1%,45.9%,33.1%,62.8%,4.1%,8.9,Primaria
3,Agua Prieta,2600200011890,COL ACAPULCO,164,378,53.4%,46.6%,23.8%,63.8%,12.4%,10.8,Secundaria
4,Agua Prieta,2600200011893,INFONAVIT,48,118,55.1%,44.9%,18.6%,57.6%,23.7%,10.4,Secundaria

In [2]:
# solo las colonias de hermosillo 
df_col = df[df['nom_loc'] == 'Hermosillo']
df_col.head()

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
882,Hermosillo,2603000010,OASIS LANTANA,211,650,50.7%,49.3%,39.2%,60.3%,0.5%,11.4,Secundaria
883,Hermosillo,2603000011343,ROMANZA RESIDENCIAL,502,1543,48.5%,51.5%,39.5%,58.4%,2.1%,11.2,Secundaria
884,Hermosillo,2603000011346,PUEBLO ALEGRE,443,1385,50.2%,49.8%,34.1%,62.5%,3.5%,11.5,Secundaria
885,Hermosillo,2603000011347,TUBAC,212,651,51.5%,48.5%,32.6%,63.3%,4.1%,12.2,Secundaria
886,Hermosillo,2603000011348,PUEBLO ESCONDIDO,646,2154,50.6%,49.4%,36.6%,60.6%,2.8%,10.4,Secundaria

In [4]:
# guadamos en un csv
df_col.to_csv("../data/raw/demografia_hermosillo.csv", index=False)

In [3]:
# ordenar por columna de poblacion
df_col_sorted = df_col.sort_values(by='poblacion_total', ascending=False)
df_col_sorted.head(10)

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
1097,Hermosillo,2603000011589,ALTARES,6551,20398,50.4%,49.6%,33.1%,61.9%,4.9%,11.0,Secundaria
1333,Hermosillo,2603000012176,PUERTA REAL,7175,19748,49.8%,50.2%,35.9%,61.3%,2.9%,13.0,Preparatoria
911,Hermosillo,2603000011374,SOLIDARIDAD,4745,16283,49.6%,50.4%,30.1%,62.6%,7.2%,9.8,Secundaria
1157,Hermosillo,2603000011663,NUEVO HERMOSILLO,4102,12629,50.9%,49.1%,29.4%,62.4%,8.2%,10.7,Secundaria
1292,Hermosillo,2603000011905,VILLAS DEL REAL,3916,12055,50.9%,49.1%,32.3%,63.2%,4.5%,10.9,Secundaria
1250,Hermosillo,2603000011815,PALO VERDE,3845,11370,50.2%,49.8%,23.1%,57.2%,19.7%,9.9,Secundaria
1216,Hermosillo,2603000011766,SAHUARO,3560,11002,50.4%,49.6%,24.9%,60.4%,14.7%,10.5,Secundaria
960,Hermosillo,2603000011429,OLIVARES,3863,10008,50.8%,49.2%,16.5%,57.6%,25.9%,11.3,Secundaria
1245,Hermosillo,2603000011806,RESIDENCIAL VILLA BONITA,3635,9937,51.1%,48.9%,32%,63.7%,4.3%,14.4,Preparatoria
1061,Hermosillo,2603000011546,LEY 57,3618,9761,50.9%,49.1%,18.9%,58.8%,22.3%,11.3,Secundaria

In [4]:
#comntar 
colonias = df_col_sorted['nom_col'].tolist()

In [5]:
# contamos las colonias 
len(colonias)

660

In [ ]:
# revisar las que no tienen poblacion
df_no_pop = df_col_sorted[df_col_sorted['poblacion_total'] == 0]
df_no_pop

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
1482,Hermosillo,2603000016580,SANTA CRUZ,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1340,Hermosillo,2603000012226,PRIVADA PARQUE ALAMEDA,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1487,Hermosillo,2603000016601,CONCORDIA RESIDNCIAL,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301,Hermosillo,2603000011933,PUEBLITOS,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1205,Hermosillo,2603000011753,LA CEMENTERA,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,Hermosillo,2603000011650,SANTA CLARA,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1495,Hermosillo,2603000016638,SALAMANCA,49,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260,Hermosillo,2603000011837,LOTE BALDIO 37,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,Hermosillo,2603000016819,PRIMERO HERMOSILLO,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1504,Hermosillo,2603000016745,LA CORUÑA SECCION PRIVADA ALMAR,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,Hermosillo,2603000016821,MONTESINOS,25,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,Hermosillo,2603000016755,BONATERRA,49,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1540,Hermosillo,2603000016832,MONTE DE CALABRIA RESIDENCIAL,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,Hermosillo,2603000011750,SIN NOMBRE 50,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# revisamos si se encientra SAHUARO FIN
df_col_sorted[df_col_sorted['nom_col'] == 'SAHUARO FINAL']

,nom_loc,cve_col,nom_col,viviendas_totales,poblacion_total,pctj_mujeres,pctj_hombres,pctj_menores18,pctj_adultos18_59,pctj_60ymas,escolaridad_años_prom,nivel_escolaridad_prom
933,Hermosillo,2603000011400,SAHUARO FINAL,798,2551,50.9%,49.1%,27.4%,61.8%,10.8%,10.3,Secundaria